$text-color: #E9E2E8;
$background-color: #1A141A;
$primary-color: #CBCDBC; 
$secondary-color: #231A22;
$accent-color: #729397;

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

#NavBar {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    background-color: $background-color;
    height: 100px;

    h1{
        color: $text-color;
        font-family: 'Handjet', cursive;
        font-size: 48px;
        font-weight: 700;
    }
    input{
        display: block;
        position: static;
        font-size: 16px;
        width: 700px;
        height: 34px;
        background-color: $primary-color;
        border-radius: 32px;
        border: none;
        outline: none;
        padding-left: 15px; 
        font-family: 'Raleway', sans-serif;
    }
    #SearchMenu{
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 10px;
        top: 70px;
        width: 700px;
        min-height: 200px;
        background-color: $primary-color;
        border-radius: 16px;
        .SearchMenuItem{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 100%;
            a{
                text-decoration: none;
                font-family: inherit;
                color: inherit;
                transition-duration: inherit;
            }
            h1 {
                font-size: 36px;
                color: $secondary-color;
                font-family: Raleway;
                transition-duration: 0.25s;
            }
            p{
                padding-right: 10px;
            }
            .SuggestionIcon{
                display: flex;
                flex-direction: row;
                gap: 10px;
                h1{
                    font-size: 24px;
                    cursor: default;
                }
            }
        }
    }
    img{
        height: 36px;
    }
    #NavBarButtons{
        display: flex;
        gap: 30px;
    }
}

@media screen and (min-width: 3500px){
    #NavBar{
        height: 200px;
        h1{
            font-size: 100px;
        }
        input{
            width: 1500px;
            height: 50px;
            font-size: 30px;
            padding-left: 30px;
        }
        #SearchMenu{
            width: 1500px;
            min-height: 400px;
            top: 140px;
        }
        img{
            height: 60px;
        }
    }
}

$text-color: #1a141a;
$background-color: #e9e2e8;
$primary-color: #cbcdbc; 
$secondary-color: #eee8ed;
$accent-color: #303f41;

#LightNavBar {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    background-color: $background-color;
    height: 100px;

    h1{
        color: $text-color;
        font-family: 'Handjet', cursive;
        font-size: 48px;
        font-weight: 700;
    }
    input{
        display: block;
        position: static;
        font-size: 16px;
        width: 700px;
        height: 34px;
        background-color: $primary-color;
        border-radius: 32px;
        border: none;
        outline: none;
        padding-left: 15px; 
        font-family: 'Raleway', sans-serif;
    }
    #SearchMenu{
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 10px;
        top: 70px;
        width: 700px;
        min-height: 200px;
        background-color: $primary-color;
        border-radius: 16px;
        .SearchMenuItem{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 100%;
            a{
                text-decoration: none;
                font-family: inherit;
                color: inherit;
                transition-duration: inherit;
            }
            h1 {
                font-size: 36px;
                color: $secondary-color;
                font-family: Raleway;
                transition-duration: 0.25s;
            }
            p{
                padding-right: 10px;
            }
            .SuggestionIcon{
                display: flex;
                flex-direction: row;
                gap: 10px;
                h1{
                    font-size: 24px;
                    cursor: default;
                }
            }
        }
    }
    img{
        height: 36px;
    }
    #NavBarButtons{
        display: flex;
        gap: 30px;
    }
}

@media screen and (min-width: 3500px){
    #NavBar{
        height: 200px;
        h1{
            font-size: 100px;
        }
        input{
            width: 1500px;
            height: 50px;
            font-size: 30px;
            padding-left: 30px;
        }
        #SearchMenu{
            width: 1500px;
            min-height: 400px;
            top: 140px;
        }
        img{
            height: 60px;
        }
    }
}